out
soda_codes/
*~
out
*.tcl
a.out
*.o
unoptimized_*.cpp
unoptimized_*.h
reduce*
warp_and_upsample*
blur_and_downsample*
regression_*
conv_*.cpp
conv_*.h
*.rpt
*.log
.cpp
.h
unsharp*
mag_*
diff_*
upsample*
two_in_*
mobilenet*
seidel*
shift_reg_*
jacobi2d_*
mag.cpp
mag.h
output*
denoise*
permute*
downsample_*
heat3d*
A_opt.*
B_opt.*
A_buf.*
B_buf.*
conv3x3_*
level_2_*
mismatched_*
C_opt*
*.v
synthetic_*
pyramid_*
camera_collateral*
*.csv
tb_soda_*
up_*
us_*
t0_*
neg_stencil_*
level_3_*
ds_*
*.txt
run_tb_*
aws_*
soda_*
user_settings/private_settings.sh
images/
synthesis/
warp_and_upsample*
ef_*
unoptimized_*
aligner
clockwork
lib/
include/
barvinok-0.41/
