*~
*.tcl
a.out
*.o
unoptimized_*.cpp
unoptimized_*.h
reduce*
warp_and_upsample*
blur_and_downsample*
regression_*
conv_*.cpp
conv_*.h
*.rpt
*.log
.cpp
.h
unsharp*
mag_*
diff_*
upsample*
two_in_*
mobilenet*
seidel*
shift_reg_*
jacobi2d_*
mag.cpp
mag.h
output*
denoise*
